@{
    Layout = "~/Layouts/_MainLayout.cshtml";
}


<div class="container">
    <h2>About Us</h2>
    <div class="well">
        <h3>York Technical College Mission Statement</h3>
        <p><strong>Building Our Community Through Maximizing Student Success</strong></p>
        <p>York Technical College, a member of the South Carolina Technical and Comprehensive Education System, is a public, two-year institution of higher education that offers a variety of associate degrees, diplomas, and certificates. Through maximizing student success, the College seeks to contribute to the economic growth and development of York, Lancaster, and Chester counties and of the State. York Technical College has an open admissions policy for qualified students and annually enrolls 5,000-7,000 credit students. Through excellence in teaching and learning, the College provides program offerings, in a variety of delivery methods, in the areas of engineering technology, industrial technology, information technology, business, health sciences, public service, and transfer to senior colleges and universities. In addition, the College offers a comprehensive selection of corporate and continuing education courses designed to promote occupational advancement, personal interest, and business and industry growth.  </p>    &nbsp;
        <br />
        <br />
        <p>Approved by the York Technical College Commission: October 9, 2012</p>
        <p>Approved by the South Carolina Commission on Higher Education: October 22, 2012</p>
    </div>

    <div class="well">
        <h3>A message from the president</h3>
        <p>As a college president, I am proud to say that I began my college education at a two-year institution just like York Tech. Earning my associate degree built a strong foundation for me to accomplish my personal and professional dreams.</p>
        <p>You can do that too, and that’s why we want you here at York Tech.</p>
        <p>We are committed to a single goal: supporting your success. As you read more about us, you’ll learn about our best assets:  career-focused programs to help you reach your professional goals; faculty and staff who are committed to supporting you; support services to help keep you on track; and a vibrant campus environment.</p>
        <p>My technical college experience helped me, and it will help you, whether you are training for a new career or planning to attend a four-year university someday. There are infinite possibilities here, waiting eagerly for you to discover them. </p>
        <p>We're delighted that you are exploring our website. Please make plans to visit campus soon, so we can welcome you with York Tech spirit. </p>
        <p>I look forward to meeting you soon. </p>
        <p>Dr. Greg F. Rutherford </p>
        <p>President, York Technical College </p>
    </div>
</div>