@{
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<div class="container">
    <h1 class="text-center">Admissions and Registration</h1>
    <div class="col-md-4">
        <h2>Explore</h2>
        <p>York Tech offers nearly 80 academic programs in fields that will prepare you for a rewarding career, or ease your way to transferring to a four-year university. Use the links below to find out more: </p>
        <ul>
            <li>
                <a href="http://yorktech.mycareerfocus.org/" target="_blank">YTC Career Focus Magazine</a>
            </li>
            <li>
                <a href="~/Views/Programs and Classes.cshtml">Choosing a Program of Study</a>&nbsp;
            </li>
            <li>
                <a href="https://webadvisor3.yorktech.com/WALIVE/WALIVE?TOKENIDX=2079643527&amp;type=M&amp;constituency=WBST&amp;pid=CORE-WBST" title="Current Course Schedule">Current Course Schedule</a>
            </li>
            <li>
                <a href="http://match.yorktech.edu" title="Find Your Match">Find Your Match</a> -&nbsp;Five minutes could change your life
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Engage</h2>
        <p>We’d love for you to contact us to speak to an Enrollment Services counselor or come to campus for a tour! We even have a virtual tour available 24/7.</p>
        <ul>
            <li>
                <a href="http://yorktech.edu/admissions/why-york-tech/connect/">Request Information</a>
            </li>
            <li>
                <a href="http://yorktech.edu/admissions/visit-campus/">Sign Up for a Campus Tour</a>
            </li>
            <li>
                <a href="http://www.youvisit.com/tour/yorktech?pl=v">Virtual Tour</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Apply</h2>
        <p>It’s easy – and free – to apply to York Tech! When you apply, it is also a great time to start to learn about financial aid options by filling out a FAFSA.</p>
        <ul>
            <li>
                <a href="https://apply.yorktech.edu/Datatel.ERecruiting.Web.External/Pages/welcome.aspx">Online Application</a>
            </li>
            <li>
                <a href="https://fafsa.ed.gov/">Free Application for Federal Student Aid (FAFSA)</a>
            </li>
        </ul>
    </div>
</div>