@{
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Events</h2>
        <div class="bs-callout bs-callout-old">
            <h3>Nov 08</h3>
            <h4>2nd 8 WK Session Midterm</h4>
            <h4>Election Day - College Closed</h4>
        </div>
        <div class="bs-callout bs-callout-new">
            <h3>Nov 23</h3>
            <h4>No Credit Classes</h4>
        </div>
        <div class="bs-callout bs-callout-new">
            <h3>Nov 24</h3>
            <h4>Thanksgiving Holidays - College Closed</h4>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Academic Callendar Key Dates</h2>
        <p><strong>Wednesday, August 17</strong>: Fall Semester Classes Begin</p>
        <p><strong>Monday, September 5</strong>: Labor Day - College Closed </p>
        <p><strong>Tuesday, November 8</strong>: Election Day - No Credit Classes  </p>
        <p><strong>Wednesday, November 23</strong>: Thanksgiving Break - No Credit Classes </p>
        <p><strong>Thursday, November 24 - Friday, November 25</strong>: Thanksgiving Break - College Closed</p>
        <p><strong>Saturday, December 10</strong>: Last Day of Fall Classes </p>
        <p><strong>Monday, December 19 - Friday, December 30</strong>: Winter Break - College Closed </p>
    </div>
</div>

