@{
    Layout = "~/Layouts/_TeacherClassLayout.cshtml";
}


<div class="container">
    <h2>Content for:</h2>
    <h3>Systems and Procedures</h3>
    <div class="panel panel-info">
        <div class="panel-heading">Table of Contents</div>
        <table class="table">

            <tr>
                <td>
                    <a href="#Syllabus">
                        <span class="glyphicon glyphicon-folder-open"></span></a>
                </td>
                <td>
                    <a href="#Syllabus">Syllabus</a>
                </td>
                <td class="align-right">
                    <a href="#Syllabus">
                        <span class="glyphicon glyphicon-chevron-right"></span></a>
                </td>
            </tr>
            <tr>

                <td>
                    <a href="#ProjectRequirements">
                        <span class="glyphicon glyphicon-folder-open"></span></a>
                </td>
                <td>
                    <a href="#ProjectRequirements">Team Project Information</a>
                </td>
                <td class="align-right">
                    <a href="#ProjectRequirements">
                        <span class="glyphicon glyphicon-chevron-right"></span></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="well" id="Syllabus">
        <h3>Syllabus</h3>
        <h4 class="content-item">
            <a href="https://d2l.yorktech.edu/content/enforced/947168-CPT_264_001_2016FA/CPT%20264%20Calendar%20%20Fall%202016%20With%20Assignments.docx">CPT 264 Syllabus</a>
        </h4>

    </div>

    <div class="well" id="ProjectRequirements">
        <h3>Team Project Information</h3>
        <h4 class="content-item">
            <a href="#">Project Requirements</a>
        </h4>
        <h4 class="content-item">
            <a href="#">Requirements Document</a>
        </h4>
        <h4 class="content-item">
            <a href="#">Requirements Presentation</a>
        </h4>
    </div>

</div>