@{
    Layout = "~/Layouts/_TeacherClassLayout.cshtml";
}


<div class="container">

    <h2>Grades Editor</h2>
    <h3>Course:</h3>
    <h3>Systems and Procedures - 002</h3>

    <div class="panel panel-info">
        <div class="panel-heading">Select Student</div>
        <a href="~/Views/Teacher/Course/Grades.cshtml">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th class="align-right">Online Status</th>
                    </tr>
                    <tr>
                        <td>Nathan Hewet</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-remove glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Jasmine Marrie</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-ok glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Marrie Jhonson</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-ok glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Jhonson Badman</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-remove glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Badman Nathan</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-remove glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Nathan Hewet</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-remove glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Jasmine Marrie</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-ok glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Marrie Jhonson</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-ok glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Jhonson Badman</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-remove glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Badman Nathan</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-remove glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Nathan Hewet</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-remove glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Jasmine Marrie</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-ok glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Marrie Jhonson</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-ok glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Jhonson Badman</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-remove glyph-small"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Badman Nathan</td>
                        <td class="align-right">
                            <span class="glyphicon glyphicon-remove glyph-small"></span>
                        </td>
                    </tr>


                </tbody>
            </table>
        </a>
    </div>
</div>