@{
    Layout = "~/Layouts/_TeacherClassLayout.cshtml";
}


<div class="container">
    <h2>Quiz Averages for:</h2>
    <h3>Systems and Procedures</h3>

    <div class="panel panel-info">
        <div class="panel-heading">Quiz List</div>
        <table class="table">
            <tbody>
            <tr>
                <th>Quiz Name</th>
                <th>Due Date</th>
                <th>Grade Average</th>
            </tr>
            <tr>
                <td>Quiz 1</td>
                <td>10/11/2016</td>
                <td>85</td>
            </tr>
            <tr>
                <td>Quiz 2</td>
                <td>11/12/2016</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Quiz 3</td>
                <td>12/1/2016</td>
                <td>NA</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>