@{
    Layout = "~/Layouts/_StudentLayout.cshtml";
}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Transcript for 0297365 Bob Emmet</div>
        <table class="table">
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
                <th>Credits</th>
                <th>Term</th>
            </tr>
            <tr>
                <td>MAT-110 005 College Algebra</td>
                <td>B</td>
                <td>3.00</td>
                <td>2016SP</td>
            </tr>
            <tr>
                <td>CPT-230 001 C# Programming</td>
                <td>B</td>
                <td>3.00</td>
                <td>2015FA</td>
            </tr>
            <tr>
                <td>COL-101 026 College Orientation</td>
                <td>A</td>
                <td>1.00</td>
                <td>2015FA1</td>
            </tr>
            <tr>
                <td>RDG-100 002</td>
                <td>C</td>
                <td>3.00</td>
                <td>2014SU</td>
            </tr>
        </table>
        <hr/>
        <p>Total Earned Credits: 10</p>
        <p>Cumulative GPA: 3.00</p>
    </div>
</div>
