.navbar-default {
    background-image:none;
    box-shadow:none;
    background-color:#ff8200;
    border-color:#012169;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar-default .navbar-toggle {
    border-color:#ddd;
    border-color:rgba(221,221,221,.3);
}
.navbar-default .navbar-nav>li>a {
    color:#fff;
    text-shadow: none;
}

.navbar-nav>li {
    border:1px #fff;
}

.navbar-collapse {
    border-bottom:1px black;
}

.margin-bot {
    margin-bottom: 1em;
}

.enlarge-size {
    width: 7em;
}

.style-orange {
    color: #ff8200;
}

.style-blue {
    color: #012169;
}

.display-stack {
    display:block;
}

html, body {
    height:100%;
}

.main-image {
    width:100%;
    border-radius:35px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 30px;
}

.bs-callout-new {
  border-left-color: #012169;   
}

.bs-callout-old {
    border-left-color:#ddd;
}

.fill-expand {
    height:90%;
    width:100%;
}

.row {
    border-bottom:1px #ddd;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.glyphicon {
    font-size: 3em;
}

a:link a:visited a:hover a:active {
    text-decoration: none;
}



/*Tablet navbar collapse support*/
@media (max-width: 1377px) {
    .glyphicon {
    font-size: 7em;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    /*Dropdown edit*/
    .dropdown>.dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
}
@media (max-width: 500px) and (min-width:200px) {
    .glyphicon {
    font-size: 3em;
    }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 5em;
}
.form-selector {
    margin-top:3em;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
    margin: 0 auto;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


a>span.glyphicon {
    color:#012169;
}

.display-hide {
    display: none;
}

.align-right {
    text-align: right;
}

.content-item {
    padding:15px;
    border: 1px solid #000;
    border-color:#000;
    border-radius: 15px;
}

.glyph-small {
    font-size: 1em;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: 294px;
    padding: 35px;
    cursor: default;
 
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 12px;
 
    background: #141517;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}
 
.ui-datepicker-title { text-align: center; }
 
.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #565656;
}
 
.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';
 
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}
 
.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}
 
.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}
 
.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 5px;
    height: 10px;
    text-indent: -9999px;
 
    background-image: url(../img/arrows.png);
}
 
.ui-datepicker-prev span { background-position: 0px 0px; }
 
.ui-datepicker-next span { background-position: -5px 0px; }
 
.ui-datepicker-prev-hover span { background-position: 0px -10px; }
 
.ui-datepicker-next-hover span { background-position: -5px -10px; }

nav + .container {
    margin-top:5em;
}
nav + iframe {
    margin-top:3em;
}

#AddDialog {
    display:none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}