.navbar-default {
    background-image:none;
    box-shadow:none;
    background-color:#ff8200;
    border-color:#012169;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar-default .navbar-toggle {
    border-color:#ddd;
    border-color:rgba(221,221,221,.3);
}
.navbar-default .navbar-nav>li>a {
    color:#fff;
    text-shadow: none;
}

.navbar-nav>li {
    border:1px #fff;
}

.navbar-collapse {
    border-bottom:1px black;
}

.margin-bot {
    margin-bottom: 1em;
}

.enlarge-size {
    width: 10em;
}

.style-orange {
    color: #ff8200;
}

.style-blue {
    color: #012169;
}

.display-stack {
    display:block;
}

html, body {
    height:100%;
}

.main-image {
    width:100%;
    border-radius:35px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 30px;
}

.bs-callout-new {
  border-left-color: #012169;   
}

.bs-callout-old {
    border-left-color:#ddd;
}

.fill-expand {
    height:90%;
    width:100%;
}

.row {
    border-bottom:1px #ddd;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.glyphicon {
    font-size: 3em;
}

a:link a:visited a:hover a:active {
    text-decoration: none;
}

/*Tablet navbar collapse support*/
@media (max-width: 1377px) {
    .glyphicon {
    font-size: 7em;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    /*Dropdown edit*/
    .dropdown>.dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
}
@media (max-width: 500px) and (min-width:200px) {
    .glyphicon {
    font-size: 3em;
    }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 5em;
}
.form-selector {
    margin-top:3em;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
    margin: 0 auto;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


a>span.glyphicon {
    color:#012169;
}

.display-hide {
    display: none;
}

.align-right {
    text-align: right;
}

.content-item {
    padding:15px;
    border: 1px solid #000;
    border-color:#000;
    border-radius: 15px;
}

.glyph-small {
    font-size: 1em;
}

nav + .container {
    margin-top:5em;
}

nav + iframe {
    margin-top:3em;
}