@{
    Layout = "Layouts/_MainLayout.cshtml";
    Page.Title = "Home";
}

<div class="container">
    <img class="main-image" src="Images/Main-1line-Motto.jpg" />

    <h2>News</h2>
    <div class="bs-callout bs-callout-new">
        <h3>Christmas Tidings at Tech</h3>
        <h5>Posted Nov 17, 2016 7:42 PM</h5>
        <p>Sigma Kappa Delta (the English Honor Society) is offering “Christmas Tidings at Tech” on Wednesday, November 30, at 6:30, in the library. In addition to holiday readings, there will also be crafts, prizes, refreshments, decorations, and much more.</p>
        <p>The Society offers this annual event to faculty, staff, and students and their families and to the community. This celebration, offered since 2004, is free and fun. Please join us.</p>
    </div>

    <div class="bs-callout bs-callout-new">
        <h3>ON-CAMPUS RECRUITING EVENT</h3>
        <h5>Posted Nov 16, 2016 9:54 AM</h5>
        <p>Verizon will host an on-campus recruiting event for York Technical College students:  </p>
        <p>Wednesday, November 30, 2016</p>
        <p>10:00 am - 1:00pm</p>
        <p>Student Center</p>
    </div>

    <div class="bs-callout bs-callout-old">
        <h3>ON-CAMPUS RECRUITING EVENT</h3>
        <h5>Posted Nov 15, 2016 4:20 PM</h5>
        <p>Weed Man Lawn Service will host an on-campus recruiting event for York Technical College students:  </p>
        <p>Monday, November 28, 2016</p>
        <p>10:00 am - 1:00pm</p>
        <p>Student Center</p>
    </div>
    </div>