@{
    Layout = "~/Layouts/_StudentClassLayout.cshtml";
}

<div class="container">
    <h2>Discussions for:</h2>
    <h3>Systems and Procedures</h3>
    <div class="panel panel-info">
        <div class="panel-heading">Discussion list</div>
        <table class="table">
            <tr>
                <td>
                    <a href="~/Views/Student/Course/ExampleDiscussion.cshtml">
                        <span class="glyphicon glyphicon-share"></span>
                    </a>
                </td>
                <td>
                    <a href="~/Views/Student/Course/ExampleDiscussion.cshtml">Introduce yourself!</a>
                </td>
                <td class="align-right">
                    <a href="~/Views/Student/Course/ExampleDiscussion.cshtml">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>