@{
    Layout = "~/Layouts/_StudentClassLayout.cshtml";
}

<div class="container">
    <h2>Discussion for:</h2>
    <h3>Systems and Procedures</h3>
    <h4>Topic: Introduce yourself!</h4>
    
    <div class="bs-callout bs-callout-new">
        <h3>Hello Evevryone!</h3>
        <h5>Posted Posted Nov 17, 2016 7:42 PM by Eric Mutuck</h5>
        <p>I'm Eric, I like pie's and other random things!</p>
    </div>
    
    <div class="bs-callout bs-callout-old">
        <h3>Hello Evevryone!</h3>
        <h5>Posted Posted Nov 13, 2016 2:35 PM by Brandon Emmet</h5>
        <p>Look at me, I have this really long post about nothing because nothing is a good thing. We're gonna talk about nothing for awhile because this is just content. I need content. The best content. The only way to get content is to type it yourself so that's what this is. A really big block of silly content that talks about content. And that's what we have. Lots of content. I hope you like this content because it should be really long. It should be long. The longest. I hope it's long enough.</p>
    </div>
    
    <div class="bs-callout bs-callout-old">
        <h3>Words are nice</h3>
        <h5>Posted Posted Nov 12, 2016 3:00 AM by Charlie Willis</h5>
        <p>But I don't like talking much...</p>
    </div>
    
    <p class="text-center"><a href="#" class="btn btn-primary">Load Older...</a></p>
</div>
